API_BASE_URL=http://localhost:5000
API_USERNAME=user
API_PASSWORD=password
MOVIES_DB_PATH=/data/movies.duckdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=movies
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
LOCAL_STORAGE=/storage